:root {
    --primary-font: 'Roboto', sans-serif;
    --primary-black-color: #434455;
    --primary-white-color: #ffffff;
    --secondary-black-color: #2E2F42;
    --secondary-white-color: #F4F4FD;
}

body {
    font-family: var(--primary-font);
    color: var(--primary-black-color);
    background: var(--primary-white-color);
}
/* a {
    text-decoration: none;
}
ul {
    list-style-type: none;
} */


.logo {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.logo-section {
    color: #2E2F42;

}
.footer-logo {
    color: var(--secondary-white-color);
}
.link {
    text-decoration: none;
}
.list {
    list-style: none;
}

.list-nav {
    color: var(--secondary-black-color);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.list-nav:hover,
.list-nav:focus {
    color: #404BBF;
}

.contact {
    font-style: normal;
}
.contact-link {
    color: var(--primary-black-color);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.contact-link:hover,
.contact-link:focus {
    color: #404BBF;
}
.hero {
    background: var(--secondary-black-color);
    text-align: center;
}
.hero-main {
    color: var(--primary-white-color);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}


.primery-button {
    background: #4D5AE5;
    color: var(--primary-white-color);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    letter-spacing: 0.04em;
    cursor: pointer;
}
.primery-button:hover,
.primery-button:focus {
    background: #404BBF;
}



.facts {
    color: var(--secondary-black-color);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.facts-title {
    color: var(--secondary-black-color);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
}
.facts-taxt {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}
.directions {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--secondary-black-color);
}
.team {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--secondary-black-color);
}
.team-title {
    color: var(--secondary-black-color);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
}
.team-taxt {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}


.team-section {
    background: var(--secondary-white-color);
}
.team-section-part {
    background: var(--primary-white-color);
}
.footer {
    background: var(--secondary-black-color);
}
.footer-taxt {
    color: var(--secondary-white-color);
}


/* portfolio */


.filters-title-hide {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--secondary-black-color);
}

.filters-button {
    background: #F4F4FD;
    color: #4D5AE5;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.filters-button:hover,
.filters-button:focus,
.filters-button:active {
    background: #404BBF;
    color: #FFFFFF;
}


.project-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--secondary-black-color);
}
.project-taxt {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}